extends layout

block content

  form(action="/todo" method="POST")
    div.row(style="margin-top:30px;")
      div.col-8
        input.form-control(name="todoText" placeholder="Add a todo")
      div.col-4
        button.btn.btn-primary(type="submit") Save ToDo
    p All Todos

  div.row
    each todo in todos
      div.col-3.todo-item
        form(action="/todo/delete" method="POST")
          input(type="hidden" name="todoId" value=todo._id)
          button.delete-todo(type="submit") X
        p #{todo.todoText}