extends layout

block content
  style.
    .form-control {
      margin-bottom: 10px;
    }
    .new-account-link {
      display: block;
      margin-top: 20px;
    }
  div(style="width: 350px; margin: 100px auto;")
    form(action="/login" method="POST")
      input(type="email" name="email" class="form-control" placeholder="Email address")
      input(type="password" name="password" class="form-control" placeholder="Password")
      button(type="submit" class="btn btn-primary") Login
      a(href="/register" class="new-account-link") Create a new account